@import "@shared/styles";

@include forDarkTheme {
  @import "./themes/dark.theme.scss";
}

@include forLightTheme {
  @import "./themes/light.theme.scss";
}

body {
  background-color: var(--body-bg-color);
  color: var(--body-text-color);
  overflow: hidden;
}
