{
  "extends": [
    "@feature-sliced",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:import/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:@typescript-eslint/recommended",
    "eslint-config-prettier"
  ],
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      },
      "node": {
        "paths": [
          "src"
        ],
        "extensions": [
          ".ts",
          ".tsx"
        ]
      }
    }
  },
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "no-restricted-exports": "off",
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": true,
        "argsIgnorePattern": "^_"
      }
    ],
    "react/react-in-jsx-scope": "off",
    "import/no-unresolved": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "": "never",
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "peerDependencies": true
      }
    ],
    "react/jsx-filename-extension": [
      "error",
      { "extensions": [".js", ".jsx", ".tsx", "ts"] }
    ]
  }
}