.root {
  -webkit-tap-highlight-color: transparent;
  border: none;
  height: 6rem;
  font-size: 2.2rem;
  font-weight: 500;
  border-radius: 6.2rem;

  &.block {
    width: 100%;
  }

  &.primary {
    background-color: var(--button-primary-bg);
    color: var(--button-primary-color);
  }
}
