.root {
  width: 100vw;
  height: 100dvh;
  position: fixed;
  inset: 0;
  z-index: 99999;
  transform: translateY(100dvh);
  transition: transform 350ms ease;

  &.show {
    transform: translateY(0);
  }
}
