.root {
  -webkit-tap-highlight-color: transparent;
  border: none;
  height: 6rem;
  font-size: 2.2rem;
  font-weight: 500;
  border-radius: 6.2rem;

  &.block {
    width: 100%;
  }

  &.primary {
    background-color: var(--primary-color);
    color: var(--body-text-color);
  }

  &.link {
    background-color: transparent;
    text-decoration: underline;

    @include forDarkTheme {
      color: rgba($white, .5);
    }

    @include forLightTheme {
      color: rgba($black, .5);
    }
  }
}
