.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.option {
  padding: 26px;
  border-radius: 22px;
  box-shadow: 1px 1px 2px rgba(black, 0.1);
  background-color: var(--secondary-color);
  transition: background-color 300ms ease;

  @include forLightTheme {
    border: 1px solid rgba(225, 225, 225, 0.5);
  }

  @include forDarkTheme {
    border: 1px solid rgba(white, 0.1);
  }

  &.active {
    background-color: var(--primary-color);
  }
}

.title {
  display: block;
  font-size: 24px;
  font-weight: 500;
  color: var(--body-text-color);
  margin-bottom: 5px;
}

.text {
  font-size: 16px;
  font-weight: 100;
  opacity: 0.8;
  color: var(--body-text-color);
}
