.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  -webkit-tap-highlight-color: transparent;
}

.select {
  opacity: 0;
  -webkit-tap-highlight-color: transparent;
}

.displayValue {
  position: absolute;
  inset: 0;
  text-align: center;
}

.value {
  font-size: 70px;
  font-weight: 900;
  color: var(--body-text-color);
  margin-right: 5px;
}

.label {
  font-weight: 100;
  font-size: 24px;
}
