.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.content {
  background-color: rgba(#000, 0.2);
  padding: 3.1rem 2rem;
  margin-top: auto;
  border-radius: 36px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.title {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 12px;
}

.title,
.text {
  color: $white;
}

.text {
  font-weight: 200;
  font-size: 18px;
  margin-bottom: 32px;
}

.primary {
  color: var(--body-text-primary-color);
}

.video::after {
  content: "";
  display: block;
  position: fixed;
  inset: 0;
  background: linear-gradient(0deg, #000 0%, #000 0%, rgba(#000, 0.5) 100%);
}
