.root {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 70px 1fr 120px;
  background-color: $white;
  color: var(--body-text-color);
  padding: 32px 0 50px;
}

.progressWrapper {
  padding: 0 16px;
}

.body {
  overflow: hidden;
}

.content {
  padding: 32px 16px 16px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 12px;
}

.subtitle {
  font-size: 18px;
  text-align: center;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 5px;
  padding: 0 16px;
}